footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding:100px;
}

nav{
    margin-bottom: 50px;
}

#form_add_user{
    margin: auto;
    width: 40%;
    min-width: 400px;
}

.cont_usuario{
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}



#cont_formulario_post{
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(114, 221, 114, 0.404);
   margin: auto;
    width: 400px;
    margin-bottom: 50PX;
}

#cont_see_all_posts{
    margin: auto;
    width: 140px;
     height: 70px;
}

#cont_address{
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(139, 185, 170, 0.384);
    display: flex;
    margin: auto;
    gap: 20px;
}

#cont_dir_ya_asignada{
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(236, 150, 135, 0.384);
    margin: auto;
    width: 500px;
}


#btns_address_card{
    display: flex;
}


#table {
   border: 1px solid black;
   margin: auto;
}

#table td {
   padding: 25px;
   text-align: center;
 }
 #table tr {
    padding: 20px;
    text-align: center;
  }

#cont_form_rel_add_us{
    background-color: rgba(127, 255, 212, 0.308);
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    margin: auto;
}


#cont_form_rel_add_us form{ 
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.cont_post{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px;
}

#cont_post_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#cont_form_asig{
    margin: auto;
    background-color: aquamarine;
    width: 400px;
    padding: 30px;
    border-radius: 10px;

}

#muestra_asig{
    background-color: bisque;
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#muestra_asig p{
  text-align: center;
}